:root {
	/* Main colors */
	--c1: #ff0000;
	--c2: #ff6600;
	--c3: #ffcc00;
	--c4: #00ff0c;
	--c5: #00bbf1;
	--c6: #1400d4;
	--c7: #a018ff;
	--c8: #df2cff;
	--c9: #b65327;
	--c10: #e5e5e5;
	--c11: #4d4d4d;
	/* Palette colors */
	--black_1: #4d4d4d;
	--black_2: #333333;
	--black_3: #1a1a1a;
	--gray_1: #999999;
	--gray_2: #808080;
	--gray_3: #666666;
	--white_1: #e5e5e5;
	--white_2: #cccccc;
	--white_3: #b3b3b3;
	--brown_1: #b65327;
	--brown_2: #964420;
	--brown_3: #703318;
	--red_1: #ff4d3a;
	--red_2: #ff0000;
	--red_3: #ca0000;
	--yellow_1: #ffe326;
	--yellow_2: #ffcc00;
	--yellow_3: #d2a800;
	--green_1: #9cff5a;
	--green_2: #00ff0c;
	--green_3: #00ca0a;
	--sky_blue_1: #47d6ff;
	--sky_blue_2: #00bbf1;
	--sky_blue_3: #009ecc;
	--blue_1: #1400d4;
	--blue_2: #1000aa;
	--blue_3: #110079;
	--purple_1: #a018ff;
	--purple_2: #8200dd;
	--purple_3: #6200a6;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
body {
	background-color: #505050;
	/* background-color: #00f200; */
}
#wizard-container {
	margin: 30px auto 0 auto;
	/* background-color: red; */
	position: relative;
}
#wizard-container img {
	width: 100%;
	height: 100%;
	/* Remove anti aliasing */
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	/* Set position */
	position: absolute;
	/* Make unclickable and unselectable */
	user-select: none;
	--webkit-user-select: none;
	--moz-user-select: none;
	--ms-user-select: none;
	--o-user-select: none;
	pointer-events: none;
	--webkit-pointer-events: none;
	--moz-pointer-events: none;
	--ms-pointer-events: none;
	--o-pointer-events: none;
}
#wizard-name {
	color: #ffffff80;
	text-align: center;
	width: 100%;
	margin-top: 30px;
	font-size: 1.5em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#controls {
	color: #ffffff50;
	text-align: center;
	width: 100%;
	margin-top: 30px;
	user-select: none;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}
#controls > div {
	margin-bottom: 10px;
	background-color: #00000020;
	padding: 15px 15px;
	border-radius: 15px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}
#controls .checkbox-container {
	margin-bottom: 10px;
	display: inline-flex;
	flex-direction: row;
	/* Make checkbox and its layer take up all the space of the div */
	width: 100%;
	justify-content: space-between;
}
#controls button {
	background-color: #ffffff50;
	border: none;
	color: #ffffff;
	padding: 10px 25px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.1em;
	width: 275px;
	margin: 5px 0;
}
#controls button.small-button {
	width: 30px;
	padding: 10px 5px;
}
#controls button.medium-button {
	width: calc(275px - 30px - 20px * 2);
}
#controls button:hover {
	background-color: #ffffff80;
}
#controls button:active {
	background-color: #ffffffcc;
}
#sprites-info {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
#sprites-info-table {
	color: #757575;
	text-align: center;
	/* width: 100%; */
	/* width: 300px; */
	/* user-select: none; */
	/* display: inline-flex; */
	/* flex-direction: column; */
	/* align-items: center; */
	/* Set table borders to be gray */
	/* border-collapse: collapse; */
	font-weight: bold;
	/* Align text and items vertically in each cell */
	vertical-align: middle;
	text-indent: 0;
	border-spacing: 0;
	border: 1px solid #757575;
	font-size: 1.1em;
}
/* #sprites-info-table tr:nth-child(1) {
	font-size: 1.1em;
} */
#sprites-info-table td {
	border: 1px solid #757575;
	/* padding: 5px 10px; */
	width: 4em;
	min-width: 4em;
	max-width: 4em;
	height: 1.5em;
	min-height: 1.5em;
	max-height: 1.5em;
}
#sprites-info-table tbody td:nth-child(1) {
	/* text-align: right; */
	padding: 0px;
}
#sprites-info-table tbody td:nth-child(2),
#sprites-info-table tbody td:nth-child(3) {
	text-align: center;
}
#sprites-info-table td > div {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0;
	border-top: 5px solid #00000000;
}
#sprites-info-table td > div > div {
	/* display: inline-flex; */
	/* flex-direction: column; */
	/* align-items: center; */
	/* width: calc(100% - 3px * 2); */
	/* height: calc(100% - 3px * 2); */
	margin: auto;
	padding: 0px;
	width: 100%;
	height: 100%;
}
/* --------------------- Checkbox ----------------------------- */
/* Customize the label (the container) */
.actual-checkbox-container {
	display: block;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	font-size: 1.1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default checkbox */
.actual-checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
/* Create a custom checkbox */
.checkbox-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #aaa;
	border-radius: 3px;
}
/* On mouse-over, add a grey background color */
.actual-checkbox-container:hover input ~ .checkbox-checkmark {
	background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.actual-checkbox-container input:checked ~ .checkbox-checkmark {
	background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.actual-checkbox-container input:checked ~ .checkbox-checkmark:after {
	display: block;
}
/* Style the checkmark/indicator */
.actual-checkbox-container .checkbox-checkmark:after {
	left: 7px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}